<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ElmarWineList.com</title>
    <style>
        @font-face{
            font-family: 'diotima';
            src: url('diotima.otf')
        }
        *{
            margin:0;
            padding:0;
            box-sizing:border-box;
        }
        body{
            min-height:100vh;
            display:grid;
            place-content:center;
            font-family: diotima;
            font-weight:100;
            font-size:12px;
            letter-spacing:0.5px;
        }
        .page{
            margin:5px 0;
            width:8.5in;
            min-height:11in;
            border:1px solid black;
            background:beige;
        }
        .section{
            display:grid;
            place-content:center;
            text-align:center;
        }
        h1,h2{
            font-size:1rem;
            font-weight: normal;
        }
        h1{
            padding:20px 0;
        }
        h2{
            padding-top:25px;
        }
        .item{
            width:100%;
            padding:5px 0;
        }
        .bin,
        .description,
        .vintage,
        .price{
            display:inline-block;
        }
        .bin{
            width:0.75in;
            text-align:left;
            padding-left:0.5in;
        }
        .description{
            width:5.5in;
            margin-left:0.25in;
        }
        .vintage{
            width:1in;
        }
    </style>
</head>
<body>
<div class='page'>

    <h1><span class='bin'></span>
        <span class='description'>BY THE GLASS SELECTION</span></h1>
    <h2><span class='bin'></span>
        <span class='description'>SAKE</span></h2>
        <div class='item'>
            <span class='bin'><%= info[0].bin %></span>
            <span class='description'><%= info[0].description %></span>
            <span class='vintage'><%= info[0].vintage %></span>
            <span class='price'><%= info[0].price %></span>
        </div>
        <div class='item'>
            <span class='bin'><%= info[1].bin %></span>
            <span class='description'><%= info[1].description %></span>
            <span class='vintage'><%= info[1].vintage %></span>
            <span class='price'><%= info[1].price %></span>
        </div>
        <div class='item'>
            <span class='bin'><%= info[2].bin %></span>
            <span class='description'><%= info[2].description %></span>
            <span class='vintage'><%= info[2].vintage %></span>
            <span class='price'><%= info[2].price %></span>
        </div>
        <div class='item'>
            <span class='bin'><%= info[3].bin %></span>
            <span class='description'><%= info[3].description %></span>
            <span class='vintage'><%= info[3].vintage %></span>
            <span class='price'><%= info[3].price %></span>
        </div>
        <div class='item'>
            <span class='bin'><%= info[4].bin %></span>
            <span class='description'><%= info[4].description %></span>
            <span class='vintage'><%= info[4].vintage %></span>
            <span class='price'><%= info[4].price %></span>
        </div>




    <h2><span class='bin'></span>
        <span class='description'>CARAFE</span></h2>
        <div class='item'>
            <span class='bin'><%= info[5].bin %></span>
            <span class='description'><%= info[5].description %></span>
            <span class='vintage'><%= info[5].vintage %></span>
            <span class='price'><%= info[5].price %></span>
        </div>



    <h2><span class='bin'></span>
        <span class='description'>CHAMPAGNE</span></h2>
        <div class='item'>
            <span class='bin'><%= info[6].bin %></span>
            <span class='description'><%= info[6].description %></span>
            <span class='vintage'><%= info[6].vintage %></span>
            <span class='price'><%= info[6].price %></span>
        </div>
        <div class='item'>
            <span class='bin'><%= info[7].bin %></span>
            <span class='description'><%= info[7].description %></span>
            <span class='vintage'><%= info[7].vintage %></span>
            <span class='price'><%= info[7].price %></span>
        </div>
        <div class='item'>
            <span class='bin'><%= info[8].bin %></span>
            <span class='description'><%= info[8].description %></span>
            <span class='vintage'><%= info[8].vintage %></span>
            <span class='price'><%= info[8].price %></span>
        </div>
        




    <h2><span class='bin'></span>
        <span class='description'>WHITE WINE</span></h2>
        <div class='item'>
            <span class='bin'><%= info[9].bin %></span>
            <span class='description'><%= info[9].description %></span>
            <span class='vintage'><%= info[9].vintage %></span>
            <span class='price'><%= info[9].price %></span>
        </div>
        <div class='item'>
            <span class='bin'><%= info[10].bin %></span>
            <span class='description'><%= info[10].description %></span>
            <span class='vintage'><%= info[10].vintage %></span>
            <span class='price'><%= info[10].price %></span>
        </div>
        <div class='item'>
            <span class='bin'><%= info[11].bin %></span>
            <span class='description'><%= info[11].description %></span>
            <span class='vintage'><%= info[11].vintage %></span>
            <span class='price'><%= info[11].price %></span>
        </div>





    <h2><span class='bin'></span>
        <span class='description'>ROSÉ</span></h2>
        <div class='item'>
            <span class='bin'><%= info[12].bin %></span>
            <span class='description'><%= info[12].description %></span>
            <span class='vintage'><%= info[12].vintage %></span>
            <span class='price'><%= info[12].price %></span>
        </div>
        <div class='item'>
            <span class='bin'><%= info[13].bin %></span>
            <span class='description'><%= info[13].description %></span>
            <span class='vintage'><%= info[13].vintage %></span>
            <span class='price'><%= info[13].price %></span>
        </div>




    <h2><span class='bin'></span>
        <span class='description'>RED WINE</span></h2>
        <div class='item'>
            <span class='bin'><%= info[14].bin %></span>
            <span class='description'><%= info[14].description %></span>
            <span class='vintage'><%= info[14].vintage %></span>
            <span class='price'><%= info[14].price %></span>
        </div>
        <div class='item'>
            <span class='bin'><%= info[15].bin %></span>
            <span class='description'><%= info[15].description %></span>
            <span class='vintage'><%= info[15].vintage %></span>
            <span class='price'><%= info[15].price %></span>
        </div>
        <div class='item'>
            <span class='bin'><%= info[16].bin %></span>
            <span class='description'><%= info[16].description %></span>
            <span class='vintage'><%= info[16].vintage %></span>
            <span class='price'><%= info[16].price %></span>
        </div>





    <h2><span class='bin'></span>
        <span class='description'>DESSERT & FORTIFIED</span></h2>
        <div class='item'>
            <span class='bin'><%= info[17].bin %></span>
            <span class='description'><%= info[17].description %></span>
            <span class='vintage'><%= info[17].vintage %></span>
            <span class='price'><%= info[17].price %></span>
        </div>
        <div class='item'>
            <span class='bin'><%= info[18].bin %></span>
            <span class='description'><%= info[18].description %></span>
            <span class='vintage'><%= info[18].vintage %></span>
            <span class='price'><%= info[18].price %></span>
        </div>
        <div class='item'>
            <span class='bin'><%= info[19].bin %></span>
            <span class='description'><%= info[19].description %></span>
            <span class='vintage'><%= info[19].vintage %></span>
            <span class='price'><%= info[19].price %></span>
        </div>
</div>






<div class='page section'>
    <div>
        <h1>
            HALF BOTTLES<br>
            &<br>
            LARGE FORMATS
        </h1>
    </div>
</div>






<div class='page'>
    <h1><span class='bin'></span>
        <span class='description'>HALF BOTTLES</span></h1>
    <h2><span class='bin'></span>
        
        <span class='description'>CHAMPAGNE</span></h2>
        
        <div class='item'>
            <span class='bin'><%= info[20].bin %></span>
            <span class='description'><%= info[20].description %></span>
            <span class='vintage'><%= info[20].vintage %></span>
            <span class='price'><%= info[20].price %></span>
        </div>
        <div class='item'>
            <span class='bin'><%= info[21].bin %></span>
            <span class='description'><%= info[21].description %></span>
            <span class='vintage'><%= info[21].vintage %></span>
            <span class='price'><%= info[21].price %></span>
        </div>
        <div class='item'>
            <span class='bin'><%= info[22].bin %></span>
            <span class='description'><%= info[22].description %></span>
            <span class='vintage'><%= info[22].vintage %></span>
            <span class='price'><%= info[22].price %></span>
        </div>
        <div class='item'>
            <span class='bin'><%= info[23].bin %></span>
            <span class='description'><%= info[23].description %></span>
            <span class='vintage'><%= info[23].vintage %></span>
            <span class='price'><%= info[23].price %></span>
        </div>
        <div class='item'>
            <span class='bin'><%= info[24].bin %></span>
            <span class='description'><%= info[24].description %></span>
            <span class='vintage'><%= info[24].vintage %></span>
            <span class='price'><%= info[24].price %></span>
        </div>
        <div class='item'>
            <span class='bin'><%= info[25].bin %></span>
            <span class='description'><%= info[25].description %></span>
            <span class='vintage'><%= info[25].vintage %></span>
            <span class='price'><%= info[25].price %></span>
        </div>
        <div class='item'>
            <span class='bin'><%= info[26].bin %></span>
            <span class='description'><%= info[26].description %></span>
            <span class='vintage'><%= info[26].vintage %></span>
            <span class='price'><%= info[26].price %></span>
        </div>
        <div class='item'>
            <span class='bin'><%= info[27].bin %></span>
            <span class='description'><%= info[27].description %></span>
            <span class='vintage'><%= info[27].vintage %></span>
            <span class='price'><%= info[27].price %></span>
        </div>


    <h2><span class='bin'></span>
        <span class='description'>WHITE WINE</span></h2>
        
        <div class='item'>
            <span class='bin'><%= info[28].bin %></span>
            <span class='description'><%= info[28].description %></span>
            <span class='vintage'><%= info[28].vintage %></span>
            <span class='price'><%= info[28].price %></span>
        </div>
        <div class='item'>
            <span class='bin'><%= info[29].bin %></span>
            <span class='description'><%= info[29].description %></span>
            <span class='vintage'><%= info[29].vintage %></span>
            <span class='price'><%= info[29].price %></span>
        </div>
        <div class='item'>
            <span class='bin'><%= info[30].bin %></span>
            <span class='description'><%= info[30].description %></span>
            <span class='vintage'><%= info[30].vintage %></span>
            <span class='price'><%= info[30].price %></span>
        </div>
        <div class='item'>
            <span class='bin'><%= info[31].bin %></span>
            <span class='description'><%= info[31].description %></span>
            <span class='vintage'><%= info[31].vintage %></span>
            <span class='price'><%= info[31].price %></span>
        </div>



    <h2><span class='bin'></span>
        <span class='description'>RED WINE</span></h2>
        
        <div class='item'>
            <span class='bin'><%= info[32].bin %></span>
            <span class='description'><%= info[32].description %></span>
            <span class='vintage'><%= info[32].vintage %></span>
            <span class='price'><%= info[32].price %></span>
        </div>
        <div class='item'>
            <span class='bin'><%= info[33].bin %></span>
            <span class='description'><%= info[33].description %></span>
            <span class='vintage'><%= info[33].vintage %></span>
            <span class='price'><%= info[33].price %></span>
        </div>
        <div class='item'>
            <span class='bin'><%= info[34].bin %></span>
            <span class='description'><%= info[34].description %></span>
            <span class='vintage'><%= info[34].vintage %></span>
            <span class='price'><%= info[34].price %></span>
        </div>
        <div class='item'>
            <span class='bin'><%= info[35].bin %></span>
            <span class='description'><%= info[35].description %></span>
            <span class='vintage'><%= info[35].vintage %></span>
            <span class='price'><%= info[35].price %></span>
        </div>
        <div class='item'>
            <span class='bin'><%= info[36].bin %></span>
            <span class='description'><%= info[36].description %></span>
            <span class='vintage'><%= info[36].vintage %></span>
            <span class='price'><%= info[36].price %></span>
        </div>
        <div class='item'>
            <span class='bin'><%= info[37].bin %></span>
            <span class='description'><%= info[37].description %></span>
            <span class='vintage'><%= info[37].vintage %></span>
            <span class='price'><%= info[37].price %></span>
        </div>
        <div class='item'>
            <span class='bin'><%= info[38].bin %></span>
            <span class='description'><%= info[38].description %></span>
            <span class='vintage'><%= info[38].vintage %></span>
            <span class='price'><%= info[38].price %></span>
        </div>
        <div class='item'>
            <span class='bin'><%= info[39].bin %></span>
            <span class='description'><%= info[39].description %></span>
            <span class='vintage'><%= info[39].vintage %></span>
            <span class='price'><%= info[39].price %></span>
        </div>
        <div class='item'>
            <span class='bin'><%= info[40].bin %></span>
            <span class='description'><%= info[40].description %></span>
            <span class='vintage'><%= info[40].vintage %></span>
            <span class='price'><%= info[40].price %></span>
        </div>
        <div class='item'>
            <span class='bin'><%= info[41].bin %></span>
            <span class='description'><%= info[41].description %></span>
            <span class='vintage'><%= info[41].vintage %></span>
            <span class='price'><%= info[41].price %></span>
        </div>




    <h2><span class='bin'></span>
        <span class='description'>SAKE</span></h2>
        
        <div class='item'>
            <span class='bin'><%= info[42].bin %></span>
            <span class='description'><%= info[42].description %></span>
            <span class='vintage'><%= info[42].vintage %></span>
            <span class='price'><%= info[42].price %></span>
        </div>
        <div class='item'>
            <span class='bin'><%= info[43].bin %></span>
            <span class='description'><%= info[43].description %></span>
            <span class='vintage'><%= info[43].vintage %></span>
            <span class='price'><%= info[43].price %></span>
        </div>
        <div class='item'>
            <span class='bin'><%= info[44].bin %></span>
            <span class='description'><%= info[44].description %></span>
            <span class='vintage'><%= info[44].vintage %></span>
            <span class='price'><%= info[44].price %></span>
        </div>
        <div class='item'>
            <span class='bin'><%= info[45].bin %></span>
            <span class='description'><%= info[45].description %></span>
            <span class='vintage'><%= info[45].vintage %></span>
            <span class='price'><%= info[45].price %></span>
        </div>
        <div class='item'>
            <span class='bin'><%= info[46].bin %></span>
            <span class='description'><%= info[46].description %></span>
            <span class='vintage'><%= info[46].vintage %></span>
            <span class='price'><%= info[46].price %></span>
        </div>
        <div class='item'>
            <span class='bin'><%= info[47].bin %></span>
            <span class='description'><%= info[47].description %></span>
            <span class='vintage'><%= info[47].vintage %></span>
            <span class='price'><%= info[47].price %></span>
        </div>
        <div class='item'>
            <span class='bin'><%= info[48].bin %></span>
            <span class='description'><%= info[48].description %></span>
            <span class='vintage'><%= info[48].vintage %></span>
            <span class='price'><%= info[48].price %></span>
        </div>
        <div class='item'>
            <span class='bin'><%= info[49].bin %></span>
            <span class='description'><%= info[49].description %></span>
            <span class='vintage'><%= info[49].vintage %></span>
            <span class='price'><%= info[49].price %></span>
        </div>
        <div class='item'>
            <span class='bin'><%= info[50].bin %></span>
            <span class='description'><%= info[50].description %></span>
            <span class='vintage'><%= info[50].vintage %></span>
            <span class='price'><%= info[50].price %></span>
        </div>


</div>







<div class='page'>
    <h1><span class='bin'></span>
        <span class='description'>LARGE FORMATS</span></h1>
    <h2><span class='bin'></span>
        
        <span class='description'>SPARKLING & CHAMPAGNE</span></h2>
        
        <div class='item'>
            <span class='bin'><%= info[51].bin %></span>
            <span class='description'><%= info[51].description %></span>
            <span class='vintage'><%= info[51].vintage %></span>
            <span class='price'><%= info[51].price %></span>
        </div>
        <div class='item'>
            <span class='bin'><%= info[52].bin %></span>
            <span class='description'><%= info[52].description %></span>
            <span class='vintage'><%= info[52].vintage %></span>
            <span class='price'><%= info[52].price %></span>
        </div>
        <div class='item'>
            <span class='bin'><%= info[53].bin %></span>
            <span class='description'><%= info[53].description %></span>
            <span class='vintage'><%= info[53].vintage %></span>
            <span class='price'><%= info[53].price %></span>
        </div>
        <div class='item'>
            <span class='bin'><%= info[54].bin %></span>
            <span class='description'><%= info[54].description %></span>
            <span class='vintage'><%= info[54].vintage %></span>
            <span class='price'><%= info[54].price %></span>
        </div>
        <div class='item'>
            <span class='bin'><%= info[55].bin %></span>
            <span class='description'><%= info[55].description %></span>
            <span class='vintage'><%= info[55].vintage %></span>
            <span class='price'><%= info[55].price %></span>
        </div>
        <div class='item'>
            <span class='bin'><%= info[56].bin %></span>
            <span class='description'><%= info[56].description %></span>
            <span class='vintage'><%= info[56].vintage %></span>
            <span class='price'><%= info[56].price %></span>
        </div>
        <div class='item'>
            <span class='bin'><%= info[57].bin %></span>
            <span class='description'><%= info[57].description %></span>
            <span class='vintage'><%= info[57].vintage %></span>
            <span class='price'><%= info[57].price %></span>
        </div>
        <div class='item'>
            <span class='bin'><%= info[58].bin %></span>
            <span class='description'><%= info[58].description %></span>
            <span class='vintage'><%= info[58].vintage %></span>
            <span class='price'><%= info[58].price %></span>
        </div>
        <div class='item'>
            <span class='bin'><%= info[59].bin %></span>
            <span class='description'><%= info[59].description %></span>
            <span class='vintage'><%= info[59].vintage %></span>
            <span class='price'><%= info[59].price %></span>
        </div>





</div>





</body>
</html>